.user-container {
    width: 50%;
    margin: 30px auto;
    padding: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    font-size: 1.8em; 
    color: #121312; 
    margin-bottom: 15px; 
    font-weight: bold;
}

.user-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    border-bottom: 1px solid #c1bbbbc3;
}

.user-name {
    font-size: 18px;
    font-weight: bold;
}

.user-name a {
    color: #242322cc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.user-name a:hover {
    cursor: pointer;
    color: rgba(231, 93, 18, 0.79);
    /* text-decoration: underline; */
}

.user-actions a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}


.user-actions a#view {
    background-color: #007bff;
}

.user-actions a#edit {
    background-color: #ffc107;
}

/* .user-actions a#delete {
    background-color: #dc3545;
} */

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline; 
    cursor: default;
}

.pagination a.disabled {
    color: #3d3737e6;
    text-decoration: none;
}

.pagination span {
    color: #37363c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border: 1px solid #2e3032;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(35, 34, 34, 0.269);
}