.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    width: auto;
    margin: 0 auto;
}

.login-container {
    width: 100%;
    max-width: 530px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    font-size: 1.8em; 
    color: #121312; 
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.input-box {
    margin-bottom: 19px;
    position: relative;
}

.input-field {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dob-field {
    padding-left: 4px;
    
}

.fa,
.dob-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    /* Position the icon to the left */
    transform: translateY(-50%);
    color: #1a1919cc;
}

#date{
    padding-left:60px;
}

#gender {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.submit:hover {
    background-color: #45a049;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.double-field {
    display: flex;
    gap: 5px; 
    flex-wrap: wrap; /* To make it responsive */
}

.double-field .input-box {
    flex: 1;
} 

.form-group {
    margin-bottom: 0;
}