.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center; /* Choose your preferred font */
}

.dashboard-container h1 {
    font-size: 2.5em;
    color: #4CAF50; /* Choose your preferred color */
}

.dashboard-container p {
    font-size: 1.2em;
    color: #333; /* Choose your preferred color */
}