.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center; 
}

.dashboard-container h1 {
    font-size: 2.5em;
    color: #e06e11e9;
}

.dashboard-container p {
    font-size: 1.2em;
    color: #333;
}

p a{
    font-weight: bold;
    color: #005792;
    text-decoration: none;
}

p a:hover {
    color: #8946edcf;
    margin: 50px auto;
    cursor: pointer;
    text-decoration: none;

}