.user-container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    font-size: 2em; 
    color: #121312; 
    text-align: center;
    margin-bottom: 20px; 
    font-weight: bold;
}

.user-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #c1bbbbc3;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    color: #4a4c4cf0;
}

.user-actions a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
}

.user-actions a#view {
    background-color: #007bff;
}

.user-actions a#modify {
    background-color: #ffc107;
}

.user-actions a#delete {
    background-color: #dc3545;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
}

.pagination a:hover {
    text-decoration: underline; 
    cursor: default;
}

.pagination a.disabled {
    color: #3d3737e6;
    text-decoration: none;
}

.pagination span {
    color: #37363c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border: 1px solid #2e3032;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(35, 34, 34, 0.269);
}