{% extends 'layout.html' %}


{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song_register.css' %}">
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-box">
            <div class="login-container" id="register">
                <div class="top">
                    {% if modify %}
                        <header>Update Song</header>
                    {% else %}
                        <header>Add Song</header>
                    {% endif %}
                </div>
                <p>Artist: {{ artist_name | title }}</p>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Title" name="title" value="{{ title }}" required>
                    <span class="fa fa-music"></span>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Album Name" name="album_name" value="{{ album_name }}" required>
                    <span class="fa fa-album">📒</span>
                </div>
                <div class="input-box">
                    <div class="form-group">
                        <select id="genre" name="genre" required>
                            <option value="" disabled selected>Select Genre</option>
                            <option value="rnb" {% if genre == "rnb" %}selected{% endif %}>Rythm and Blues</option>
                            <option value="country" {% if genre == "country" %}selected{% endif %}>Country</option>
                            <option value="classic" {% if genre == "classic" %}selected{% endif %}>Classic</option>
                            <option value="rock" {% if genre == "rock" %}selected{% endif %}>Rock</option>
                            <option value="jazz" {% if genre == "jazz" %}selected{% endif %}>Jazz</option>
                        </select>
                        <span class="fa fa-genre">🎸</span>
                    </div>
                </div>
                <div class="input-box">
                    {% if modify %}
                        <input type="submit" class="submit" value="Update">
                    {% else %}
                        <input type="submit" class="submit" value="Register">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
