{% extends 'layout.html' %}


{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song_all.css' %}">
{% endblock %}


{% block content %}

    <div class="song-container">
        <header>Song Records</header>
        {% for pk, song_id, song_title in songs %}
            <div class="song-row">
                <div class="song-name">{{ song_title | title }}</div>
                <div class="song-actions">
                    <a href="{% url 'song_view' pk=pk song_id=song_id %}" id="view">View</a>
                    <a href="{% url 'song_modify' pk=pk song_id=song_id %}" id="modify">Edit</a>
                    <form action="{% url 'song_delete' pk=pk song_id=song_id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="enabled">Previous</a>
            {% else %}
                <a class="disabled">Previous</a>
            {% endif %}
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="enabled">Next</a>
            {% else %}
                <a class="disabled">Next</a>
            {% endif %}
        </div>
    </div>

{% endblock %}