{% extends 'layout.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

{% if not active_user %}
    <div class="dashboard-container">
        <h1>Artist Dashboard</h1>
        <p>Welcome to the Dashboard</p>
        <p><a href="{% url 'user_login' %}">Log In</a> to view the complete dashboard</p>
    </div>
{% endif %}

{% if active_user %}
    <div class="dashboard-container">
        <h1>Artist Dashboard</h1>
        <p>Hi <strong>{{ user | upper }}</strong>! Welcome to the Dashboard</p>
        <p style="margin: 20px 0;"><a href="{% url 'artist_all' %}">View Artists</a></p>
        <p style=><a href="{% url 'artist_register' %}">Create Artist</a></p>
    </div>
{% endif %}

{% endblock %}